<body [ngStyle]="{backgroundImage:'url(' + backGroundImage + ')'}">
<div class="">
  <div class="row">
    <div class="col-lg-6 signUp-section1 container-fluid d-flex align-items-center justify-content-center flex-column">
      <p class="signUp_title">Sign up</p>
      <p class="signUp_desc">Field Work management Platform</p>
      <p class="signUp_slogan">Join with us and make your work easier</p>
    </div>
    <div class="col-lg-6 signUp-section2 d-flex align-items-center justify-content-center">
      <div class="col-lg-8 p-3 mx-auto signUp_operation_container rounded-3 shadow-lg">
        <p class="signUp_container_title pt-5 pb-2 px-5">Create Account</p>
        <form>
          <input type="text" placeholder="Please Enter Your Name Here" class=" p-3 input_box my-1 rounded-3 mb-3">
          <input type="text" placeholder="Please Enter Your Email Here" class=" p-3 input_box my-1 rounded-3 mb-3">
          <input type="text" placeholder="Please Enter Your Phone Number Here" class=" p-3 input_box my-1 rounded-3 mb-3">
          <input type="password" placeholder="Please Enter Your Password Here" class="p-3 input_box my-1 rounded-3 mb-3">
          <input type="password" placeholder="Please Re-enter Your Password Here" class="p-3 input_box my-1 rounded-3 mb-3">
          <input type="text" placeholder="Please Enter Your Country Here" class=" p-3 input_box my-1 rounded-3 mb-3">
          <br>
          <button type="submit" class="_primaryButton py-2 px-3 mb-2">Login</button>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
